body {
    background: linear-gradient(#000000, #51126b, #1b0627 );
    color: #C8B7D6;
    font-family: Ubuntu;
    font-size: 1.2rem;
    line-height: 1.5;
    
}

.alert {
font-size: 1rem;
padding: 2px;
color: #C8B7D6;
background-color: #000000;
}

.header-container{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.header-logo {
    height: 250px;
}

:root {
    --color-primary: #890504;
    --color-primary-hover: #FF0000;
    --color-primary-dark: #990100;

    --color-text: #FFF0F3;
    --color-background: #220901;
} 

.info {
    text-align: center;
}

.cipher-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.cipher-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-text);
}

.cipher-container-item:hover {
    border-color: var(--color-primary-hover);
}

.cipher-image {
    height: 150px;
    width: 150px;
}